@import url(style-global.css);

#servicos {
    width: 100%;
    height: 200vh;
}

#servicos .container {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    padding: 20px;
    
    display: flex;
    justify-content: center;
}

#servicos .container .serv-container {
    width: 97%;
    padding: 20px;
}

#servicos .container .serv-container .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 20px;
}

#servicos .container .serv-container .row h2{
    font-size: var(--fonth1);
}

#servicos .container .serv-container .row .barra {
    background: var(--cor-azulescuro);
    height: 5px;
    width: 80px;
    
    margin: 10px;
}

#servicos .container .serv-container .column {
    height: 90%;
    padding: 10px;
}

#servicos .container .serv-container .column .col1,
#servicos .container .serv-container .column .col2{
    height: 50%;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

#servicos .container .serv-container .column .col2 .servicos,
#servicos .container .serv-container .column .col1 .servicos {
    width: 100%;
    padding: 10px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#servicos .container .serv-container .column .col2 .servicos .websites,
#servicos .container .serv-container .column .col1 .servicos .websites {
    width: 33%;
    height: 95%;
    background: var(--cor-cinza2);
    padding: 5px;
    
    border-radius: 20px;
    margin: 10px;
}

#servicos .container .serv-container .column .col2 .servicos .websites .simbolo,
#servicos .container .serv-container .column .col1 .servicos .websites .simbolo {
    height: 45%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#servicos .container .serv-container .column .col2 .servicos .websites .simbolo .interno,
#servicos .container .serv-container .column .col1 .servicos .websites .simbolo .interno {
    background: var(--cor-azulescuro);
    width: 150px;
    height: 150px;
    border-radius: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#servicos .container .serv-container .column .col2 .servicos .websites .simbolo .interno:hover,
#servicos .container .serv-container .column .col1 .servicos .websites .simbolo .interno:hover {
    background: var(--cor-azul);
    transition: 500ms linear;
}


#servicos .container .serv-container .column .col2 .servicos .websites .simbolo .interno .int,
#servicos .container .serv-container .column .col1 .servicos .websites .simbolo .interno .int {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background: var(--cor-cinza);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#servicos .container .serv-container .column .col2 .servicos .websites .simbolo .interno .int:hover,
#servicos .container .serv-container .column .col1 .servicos .websites .simbolo .interno .int:hover{
    background: var(--cor-cinza2);
    transition: 500ms linear;
}

#servicos .container .serv-container .column .col2 .servicos .websites .simbolo .interno .int img,
#servicos .container .serv-container .column .col1 .servicos .websites .simbolo .interno .int img {
    width: 50px;
    height: 50px;
}

#servicos .container .serv-container .column .col2 .servicos .websites .titulo,
#servicos .container .serv-container .column .col1 .servicos .websites .titulo {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#servicos .container .serv-container .column .col2 .servicos .websites .titulo h3,
#servicos .container .serv-container .column .col1 .servicos .websites .titulo h3{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 23px;
}

#servicos .container .serv-container .column .col2 .servicos .websites .descricao,
#servicos .container .serv-container .column .col1 .servicos .websites .descricao {
    height: 40%;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#servicos .container .serv-container .column .col2 .servicos .websites .descricao h5,
#servicos .container .serv-container .column .col1 .servicos .websites .descricao h5 {
    text-align: center;
    font-weight: 400;
    font-size: 19px;
}

@media screen and (max-device-width: 1024px) {
    #servicos .container .serv-container .column .col2 .servicos .websites .titulo h3,
    #servicos .container .serv-container .column .col1 .servicos .websites .titulo h3{
        font-size: 17px;
    }

    #servicos .container .serv-container .column .col2 .servicos .websites .descricao h5,
    #servicos .container .serv-container .column .col1 .servicos .websites .descricao h5 {
        font-size: 15px;
        font-weight: 500;    
    }
}

@media screen and (max-device-width: 768px) {
    #servicos .container .serv-container .column .col2 .servicos .websites,
    #servicos .container .serv-container .column .col1 .servicos .websites {
        height: 80%;
    }    
    #servicos .container .serv-container .column .col2 .servicos .websites .titulo h3,
    #servicos .container .serv-container .column .col1 .servicos .websites .titulo h3{
        font-size: 26px;
    }

    #servicos .container .serv-container .column .col2 .servicos .websites .descricao h5,
    #servicos .container .serv-container .column .col1 .servicos .websites .descricao h5 {
        font-size: 18px;
        font-weight: 600;    
    }
}

@media screen and (max-device-width: 425px) {
    #servicos .container .serv-container .column .col1, 
    #servicos .container .serv-container .column .col2 {
        margin-bottom: 80px;
    }

    #servicos .container .serv-container .column .col2 .servicos,
    #servicos .container .serv-container .column .col1 .servicos {
        flex-direction: column;
    }

    #servicos .container .serv-container .column .col2 .servicos .websites,
    #servicos .container .serv-container .column .col1 .servicos .websites {
        width: 60%;
    }    
}

@media screen and (max-device-width: 375px){
    #servicos .container .serv-container .column .col1, 
    #servicos .container .serv-container .column .col2 {
        margin-bottom: -30px;
    }
}