@import url(style-global.css);

.sobre {
    width: 100%;
    padding-top: 4rem;
    display: block;
}

.sobre .container {
    background: #ffffff;
    width: 100%;
    height: 130vh;
    max-width: 1320px;
    
    padding: 0 calc(var(--tamanho-lado-x)*5) 0 calc(var(--tamanho-lado-x)*5);
    margin: 100vh auto 0 auto;
}

.sobre .container .info {
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    
    margin: calc(-1 * var(--tamanho-lado-y)) calc(-.5 * var(--tamanho-lado-x)) 0 calc(-.5 * var(--tamanho-lado-x));
}

.sobre .container .info .informacoes{
    flex: 0 0 auto;
    width: 100%;
    height: 125vh;
    padding: 3rem;
    
    position: relative;
    background: var(--cor-cinza);
    margin-bottom: 3rem;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.sobre .container .info .informacoes .info-container {
    width: 100%;
    display: flex;
    margin: 10px;
}

.sobre .container .info .informacoes .info-container .minha-info {
    /* border: 1px solid black; */
    
    padding: 10px;
    width: 50%;
}

.sobre .container .info .informacoes .info-container .minha-info .bloco-info {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sobre .container .info .informacoes .info-container .minha-info .img-tecnologias {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}

.sobre .container .info .informacoes .info-container .minha-info .info-profissionais p {
    margin-bottom: 15px;
}

.sobre .container .info .informacoes .info-container .minha-info .info-habilidades {
    width: 100%;
    height: 200px;
    padding-top: var(--tamanho-padrao1);
}

.sobre .container .info .informacoes .info-container .minha-info .info-habilidades .habilidade p {
    font-weight: 700;
    color: #1e1e1e;
    font-size: calc(0.85*var(--fonth3));
    
    margin-bottom: var(--tamanho-padrao1);
}

.sobre .container .info .informacoes .info-container .minha-info .info-habilidades .habilidade span {
    color: var(--cor-preto);
}

.sobre .container .info .informacoes .info-container .minha-info .info-habilidades .habilidade div {
    background-color: var(--cor-padrao);
    margin: calc(.5*var(--tamanho-padrao1)) 0 calc(1.2*var(--tamanho-padrao1)) 0;
    border-radius: 0;
    height: calc(.7*var(--tamanho-padrao1));
}

.sobre .container .info .informacoes .info-container .minha-info .info-habilidades .habilidade .barra-interna {
    background-color: var(--cor-azul);
}

.sobre .container .info .informacoes .info-container .sobre-mim {
    padding: 0 15px 15px 15px;
    width: 50%;
    
}
.sobre .container .info .informacoes .info-container .sobre-mim div{
    width: 20%;
    background-color: var(--cor-azul);
    margin: calc(-.2*var(--tamanho-padrao1)) -3px calc(1.2*var(--tamanho-padrao1)) 0;
    border-radius: 0;
    height: calc(.2*var(--tamanho-padrao1));
}

.sobre .container .info .informacoes .info-container .sobre-mim p{
    font-size: calc(0.85*var(--fonth5));
        
}

@media screen and (max-device-width: 1024px) {
    .sobre .container .info .informacoes .info-container .minha-info .bloco-info .info-profissionais p{
        font-size: calc(1.1*var(--fonth6));
    }

    .sobre .container {
        height: 145vh;
    }

    .sobre .container .info .informacoes{
        height: 140vh;
    }    

    .sobre .container .info .informacoes .info-container .sobre-mim p{
        font-size: calc(0.7*var(--fonth5));
    }
    
    .sobre .container .info .informacoes .info-container .minha-info .img-tecnologias {
        width: 60%;
    }
}

@media screen and (max-device-width: 768px) {
    .sobre .container .info .informacoes .info-container .sobre-mim p{
        font-size: calc(.8*var(--fonth5));
        
    }
}

@media screen and (max-device-width: 425px) { /* Mobile */
    .sobre .container .info .informacoes .info-container {
        flex-direction: column;
    }

    .sobre .container .info .informacoes .info-container .minha-info{
        width: 100%;
    }

    .sobre .container .info .informacoes .info-container .sobre-mim{
        width: 100%;
        margin-top: 290px;
    }
    
    .sobre .container .info .informacoes .info-container .sobre-mim p{
        font-size: calc(1.2*var(--fonth5));
        
    }
    
    .sobre .container .info .informacoes .info-container .minha-info .img-tecnologias {
        width: 42%;
    }    
}