@import url(style-global.css);

/* ==== Header ==== */
header {
    width: 100%;
    height: 100vh;
    clear: both;
    float: left;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    opacity: 0.1;
}

header .background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

header .background .image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../img/imagem-fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header .background .opacidade {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

header .container {
    display: flex;
    justify-content: center;
    padding: 0 20px 20px 20px;
}


header .container .cabecalho {
    background: rgba(0, 0, 0, 0.175);
    width: 100vw;
    position: fixed;
    z-index: 2;
    height: 12%;

    display: flex;
    justify-content: center;
    align-items: center;
}

header .container .cabecalho .menu a{ 
    text-decoration: none;
    color: var(--cor-branca);
    margin: 0 20px 0 20px ;

    font-size: 22px;
}

header .container .apresentacao {
    z-index: 1;
    padding: 20px; 
    margin-top: 95px; 
    width: 100vw; 
    height: 80vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .container .apresentacao .fundo-foto{
    border-radius: 20px;
    background: var(--cor-padrao);
    height: /* 50% */ 300px;
    width: /* 16.5% */ 210px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container .apresentacao .fundo-foto img{
    width: 200px;
    border-radius: 20px;
}

header .container .apresentacao .sobremim{
    width: 100%;
    height: 45vh;
    padding: 20px;
    
    color: white;
    text-align: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container .apresentacao .sobremim h1{
    font-size: var(--fonth1);
    text-transform: uppercase;
    width: 30%;
    height: 30%;
    
    letter-spacing: 3px;
}

header .container .apresentacao .texto-animado{
    width: 100%;
    height: 100%;
    
    font-size: var(--fonth5);
    text-align: center;
    color: white;
    
    display: inline-block;
    overflow: hidden;
}

header .container .apresentacao .texto-animado .animacao-texto{
    animation: fadeInOut 3s ease infinite; /* Animar o texto usando a animação fadeInOut por 3 segundos em loop infinito */
    opacity: 0; /* Inicialmente, o texto está invisível */
}

/* Animações */
@keyframes fadeInOut {
    0%, 100% { 
        opacity: 0; 
    } 
    50% { 
        opacity: 1; 
    } 
}

/* Responsividade */
@media screen and (max-device-width: 1024px) {    

    header .container .apresentacao .sobremim h1{
        font-size: var(--fonth2);
        width: 38%;
    }
}

@media screen and (max-device-width: 768px) {
    header .container {
        padding: 0 20px 20px 20px;
    }

    header .container .apresentacao .sobremim h1{
        font-size: var(--fonth3);
        width: 34%;
    }
    
    header .container .apresentacao .texto-animado{
        width: 100%;
        font-size: var(--fonth3);
    }    
}

@media screen and (max-device-width: 425px){ /* Mobile */
    header .container .cabecalho .menu a{ 
        font-size: var(--fonth1);
    }
    
    header .container .apresentacao .fundo-foto{
        margin-top: 100px;
        margin-bottom: 80px;
        
        height: /* 50% */ 600px;
        width: /* 16.5% */ 410px;    
    }
    
    header .container .apresentacao .fundo-foto img{
        width: 400px;
    }
    
    header .container .apresentacao .sobremim h1{
        font-size: calc(1.5*var(--fonth1));
        width: 75%;
    }
    
    header .container .apresentacao .texto-animado{
        width: 95%;
        font-size: var(--fonth3);
    }    
}

@media screen and (max-device-width: 375px){
    header .container .apresentacao .fundo-foto{
        margin-top: 100px;
        margin-bottom: 80px;
        
        height: /* 50% */ 600px;
        width: /* 16.5% */ 460px;    
    }
    
    header .container .apresentacao .fundo-foto img{
        width: 450px;
    }
    
    header .container .apresentacao .sobremim h1{
        /* border: 1px solid white; */
        font-size: calc(1.6*var(--fonth1));
        width: 75%;
    }
    
}

@media screen and (max-device-width: 320px){
    header .container .apresentacao .fundo-foto{
        margin-top: 200px;
        margin-bottom: 80px;
    
    }

    header .container .apresentacao .sobremim h1{
        font-size: calc(1.8*var(--fonth1));
        width: 75%;
    }
    
    header .container .apresentacao .texto-animado{
        width: 90%;
        margin-top: -50px;
        font-size: var(--fonth2);
    }    
}

