@import url('https://fonts.googleapis.com/css2?family=Taviraj:wght@200;300;400;500;600;700&display=swap');

/* Resetar margens e paddings padrão */

:root {
    --fonth1: 32px;
    --fonth2: 28px;
    --fonth3: 24px;
    --fonth4: 20px;
    --fonth5: 16px;
    --fonth6: 12px;


    --cor-padrao: #89faeb85;
    --cor-branca: white;
    --cor-azul: #0078ff;
    --cor-azulescuro: #0a386b;
    --cor-cinza: #dbd5d5;
    --cor-cinza2: #c9bfbf;
    --cor-preto: #000020;
    
    --fonteFamilia: 'Taviraj', serif;

    --tamanho-lado-x: 1.5rem;
    --tamanho-padrao1: 1rem;
    --tamanho-padrao2: 2rem;
    --tamanho-padrao3: 3rem;
    --tamanho-lado-y: 0;

}

*, ::after, ::before {
    box-sizing: border-box;
}

body, h1, h2, p {
    margin: 0;
    padding: 0;
    
    font-family: var(--fonteFamilia);
}
